# Ignore node modules everywhere
node_modules/
**/node_modules/

# Next.js / React build
.next/
out/
build/

# Environment files
.env
.env.local

# Python
__pycache__/
venv/
*.pyc

# IDE
.idea/
.vscode/
